name: kraken-wsapi-dotnet-ci

on: 
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - master
env:
  PACKAGE_VERSION=$(cat package.json | grep version | head -1 | awk -F: '{ print $2 }' | sed 's/[",]//g' )

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
        
    - name: 'Setup .NET CLI Tools'
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
      
    - name: Build with dotnet
      run: dotnet build "src/Kraken.WebSockets.sln" --configuration Release
    
    - name: Test
      run: dotnet test "src/Kraken.WebSockets.sln" --configuration Release --no-build --no-restore
    
    - name: NuGet Pack
      run: dotnet pack "src/Kraken.WebSockets/Kraken.WebSockets.csproj" -c Release --no-build -p:Version=0.3.0-${GITHUB_SHA::8} --output $GITHUB_WORKSPACE/publish
      shell: bash
    
    - name: upload
      uses: actions/upload-artifact@master
      with:
        name: artifacts
        path: ./publish
    
