name: kraken-wsapi-dotnet-ci

on: 
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - master

env:
  VERSION_MAJOR: 0
  VERSION_MINOR: 3
  VERSION_PATCH: 0 
  VERSION_STRING: $VERSION_MAJOR.$VERSION_MINOR.$VERSION_PATCH
  DEBUG_VERSION_NUMBER: $VERSION_STRING-b$GITHUB_SHA

jobs:
   
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    
    - name: 'Setup .NET CLI Tools'
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
      
    - name: Build with dotnet
      run: dotnet build "src/Kraken.WebSockets.sln" --configuration Release
    
    - name: Test
      run: dotnet test "src/Kraken.WebSockets.sln" --configuration Release --no-build --no-restore
    
    - name: NuGet Pack
      run: dotnet pack "src/Kraken.WebSockets/Kraken.WebSockets.csproj" -c Release --no-build -p:Version=$DEBUG_VERSION_NUMBER

    
